# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions


# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover


# Environments

venv/



# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


.pytest_cache/
api/.pytest_cache/
api/__init__.pyc
api/app.pyc
api/bin/
api/include/
api/lib/
api/man/
api/pip-selfcheck.json
tests/.pytest_cache/
