# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so
*.json


pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover


# Environments

venv/



# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/